[postgresd]
user                          = jordycuan
port                          = 5432
bind-address                  = 0.0.0.0
pid-file                      = /var/lib/postgres/postgres.pid
socket                        = /var/lib/postgres/postgres.sock
datadir                       = /var/lib/postgres
secure-file-priv              = /var/lib/postgres-files
default-authentication-plugin = postgres_native_password
transaction_isolation         = READ-COMMITTED
symbolic-links                = 0
skip-host-cache
skip-name-resolve
